/* 第一屏动画 */
.screen-1__heading,
.screen-1__phone,
.screen-1__shadow{
	transition: all 1s;
}

.screen-1__heading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-1__phone_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-1__shadow_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-1__heading_animate_done,
.screen-1__phone_animate_done,
.screen-1__shadow_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

/* 第二屏动画 */
.screen-2__heading,
.screen-2__subheading,
.screen-2__phone{
	transition: all 1s;
}

.screen-2__point_i_1{
	transition: all .5s 1s;
}

.screen-2__point_i_2{
	transition: all .5s 1.5s;
}

.screen-2__point_i_3{
	transition: all .5s 2s;
}

.screen-2__heading_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-2__subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-2__phone_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-2__point_i_1_animate_init{
	opacity: 0;
	transform: translate(-100%,0);
}

.screen-2__point_i_2_animate_init,
.screen-2__point_i_3_animate_init{
	opacity: 0;
	transform: translate(100%,0);
}

.screen-2__heading_animate_done,
.screen-2__subheading_animate_done,
.screen-2__phone_animate_done,
.screen-2__point_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

/* 第三屏动画 */
.screen-3__heading,
.screen-3__subheading,
.screen-3__phone{
	transition: all 1s;
}

.screen-3__features{
	transition: all 1s .5s;
}

.screen-3__heading_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-3__subheading_animate_init,
.screen-3__phone_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-3__features_animate_init{
	opacity: 0;
	transform: scale(.5);
}

.screen-3__heading_animate_done,
.screen-3__subheading_animate_done,
.screen-3__phone_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

.screen-3__features_animate_done{
	opacity: 1;
	transform: scale(1);
}
.screen-3__features-item{
	transition: all .5s;
	cursor: pointer;
}

.screen-3__features-item:hover{
	transform: scale(1.1);
	border-color: #fff;
}

/* 第四屏动画 */
.screen-4__heading,
.screen-4__subheading,
.screen-4__type-item{
	transition: all 1s;
}

.screen-4__heading_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-4__subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-4__heading_animate_done,
.screen-4__subheading_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

.screen-4__type-item_i_1{
	transition: all 1s .3s;
}

.screen-4__type-item_i_2{
	transition: all 1s .6s;
}

.screen-4__type-item_i_3{
	transition: all 1s .9s;
}

.screen-4__type-item_i_4{
	transition: all 1s 1.2s;
}

.screen-4__type-item_i_1_animate_init,
.screen-4__type-item_i_2_animate_init,
.screen-4__type-item_i_3_animate_init,
.screen-4__type-item_i_4_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-4__type-item_i_1_animate_done,
.screen-4__type-item_i_2_animate_done,
.screen-4__type-item_i_3_animate_done,
.screen-4__type-item_i_4_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

/* 第五屏动画 */
.screen-5__heading,
.screen-5__subheading,
.screen-5__bg{
	transition: all 1s;
}

.screen-5__heading_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

.screen-5__subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}

.screen-5__bg_animate_init{
	opacity: 0;
	transform: scale(.5);
}

.screen-5__heading_animate_done,
.screen-5__subheading_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

.screen-5__bg_animate_done{
	opacity: 1;
	transform: scale(1);
}

/* 定义帧动画 */
@keyframes bounce{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
}

/* 使用帧动画 */
.screen-2__point:before,
.screen-2__point:after{
	content: ' ';
	display: block;
	position: absolute;
	top: 5px;
	left: 1px;
	width: 20px;
	height: 20px;
	background-color: rgba(255,0,0,.4);
	border-radius: 50%;
	animation: bounce 2s infinite;
}

.screen-2__point:before{
	animation: bounce 2s infinite 1s;
}

.screen-2__point_i_1:before,
.screen-2__point_i_1:after{
	left: 192px;
}

/* 导航条动画效果 */
.header{
	transition: all 1s;
}

.header_status_black{
	background-color: rgba(0,0,0,.5);
}

.header_status_black .header__nav-item,
.header_status_black .header__logo{
	color: #fff;
}

.header_status_black .header__nav-item_status_active{
	color: #f01400;
}

/* 右侧导航栏动画效果 */
.outline{
	transition: all 1s;
	opacity: 0;
	transform: translate(100%,0);
}

.outline_status_in{
	opacity: 1;
	transform: translate(0,0);
}