*{
	margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", 微软雅黑, Tahoma, Arial, sans-serif;
}

a {
    text-decoration: none;
}