/*
BEM 设计模式

模块 (没有前缀，多个单词用 - 连接)
元素 (元素在模块之后，可以有多个层级，以 __ 连接)
修饰 (某元素、或者某模块特别的状态，必须有一个状态名和状态值，使用 _ 连接)
 */


/* 头部模块开始 */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    z-index: 3; 
}

.header__wrap{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 60px;
}

.header__logo{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -19px;
    padding-left: 50px;
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    color: #07111b;
    background: url('../img/logo.png') left center no-repeat;
    background-size: 38px 38px; 
}

.header__nav{
    position: absolute;
    top: 50%;
    margin-top: -19px;
    right: 20px;
    height: 38px;
}

.header__nav-item{
    position: relative;
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #292f35;
    text-align: center;
}

.header__nav .header__nav-item:hover{
    color: #f01400;
}

.header__nav .header__nav-item_status_active{
    color: #f01400;
}

.header__nav-item_status_active:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f01400;
}

.header__nav-item_custom_button{
    width: 90px;
    margin-left: 40px;
    padding: 0;
    color: #f4f4f5;
    background-color: #000;
    text-align: center;
    border-radius: 3px;
}

.header__nav-item_custom_button:hover{
    color: #f4f4f5;
}

/* 第一屏模块 */
.screen-1{
    position: relative;
    height: 800px;
    background: url('../img/bg-screen-1.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.screen-1__heading{
    padding-top: 152px;
    font-size: 46px;
    font-weight: normal;
    color: #4d555d;
    text-align: center;
}

.screen-1__heading b{
    color: #f01400;
    font-weight: normal;
}

.screen-1__phone{
    position: absolute;
    left: 50%;
    bottom: 180px;
    margin-left: -687px;
    width: 1375px;
    height: 305px;
    background: url('../img/screen-1-phone.png') no-repeat center;
    z-index: 2;
}

.screen-1__shadow{
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -616px;
    width: 1233px;
    height: 411px;
    background: url('../img/screen-1-shadow.png') no-repeat center;
    z-index: 1;
}

/* 第二屏模块 */
.screen-2{
    position: relative;
    height: 800px;
    background-color: #fafafa;
    overflow: hidden;
}

.screen-2__heading{
    padding-top: 96px;
    font-size: 46px;
    line-height: 46px;
    font-weight: normal;
    color: #f01400;
    text-align: center;
}

.screen-2__subheading{
    padding-top: 25px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: #4d555d;
    text-align: center;
}

.screen-2__phone{
    position: absolute;
    left: 50%;
    bottom: -345px;
    margin-left: -464px;
    width: 928px;
    height: 873px;
    background: url('../img/bg-screen-2.png') no-repeat center;
    z-index: 1;
}

.screen-2__point{
    position: absolute;
    width: 100px;
    font-size: 24px;
    color: #4d555d;
}

.screen-2__point_i_1{
    top: 180px;
    left: -120px;
    padding-right: 112px;
    background: url('../img/icon-point-right.png') no-repeat center right;
}

.screen-2__point_i_2{
    top: 37px;
    left: 584px;
    padding-left: 112px;
    background: url('../img/icon-point-left.png') no-repeat center left;
}

.screen-2__point_i_3{
    top: 340px;
    left: 680px;
    padding-left: 112px;
    background: url('../img/icon-point-left.png') no-repeat center left;
}

/* 第三屏模块 */
.screen-3{
    height: 800px;
    background-color: #a71316;
    overflow: hidden;
}

.screen-3__wrap{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

.screen-3__heading{
    padding-top: 94px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #fff;
    text-align: left;
}

.screen-3__subheading{
    padding-top: 25px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    color: #fff;
    text-align: left;
}

.screen-3__phone{
    position: absolute;
    top: 200px;
    left: 465px;
    width: 729px;
    height: 900px;
    background: url('../img/bg-screen-3.png') no-repeat center;
    z-index: 1;
}

.screen-3__features{
    position: absolute;
    top: 395px;
    left: 0;
    width: 320px;
    height: 280px;
}

.screen-3__features-item{
    float: left;
    margin: 0 20px 20px 0;
    width: 138px;
    height: 118px;
    border: 1px solid #cb7173;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.screen-3__features-item__number{
    padding: 28px 0 8px 0;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
}

.screen-3__features-item__desc{
    height: 14px;
    font-size: 14px;
    line-height: 14px;
}

/* 第四屏模块 */
.screen-4{
    height: 800px;
    background-color: #fff;
    overflow: hidden;
}

.screen-4__wrap{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

.screen-4__heading{
    padding-top: 135px;
    font-size: 42px;
    line-height: 42px;
    font-weight: normal;
    color: #f01414;
    text-align: center;
}

.screen-4__subheading{
    padding-top: 29px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: #4d555d;
    text-align: center;
}

.screen-4__type{
    position: absolute;
    bottom: 220px;
    margin-left: 30px;
    width: 1300px;
    height: 270px;
}

.screen-4__type-item{
    position: relative;
    float: left;
    margin-right: 90px;
    width: 220px;
    height: 270px;
}

.screen-4__type-item_i_1{
    background: url('../img/phone-1.png') no-repeat left top;
}

.screen-4__type-item_i_2{
    background: url('../img/phone-2.png') no-repeat left top;
}

.screen-4__type-item_i_3{
    background: url('../img/phone-3.png') no-repeat left top;
}

.screen-4__type-item_i_4{
    background: url('../img/phone-4.png') no-repeat left top;
}

.screen-4__type-item__color{
    position: absolute;
    bottom: -44px;
    width: 100%;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #2c3238;
    text-align: center;
}

.screen-4__type-item__storage{
    position: absolute;
    bottom: -66px;
    width: 100%;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #a4a9ae;
    text-align: center;
}

/* 第五屏模块 */
.screen-5{
    position: relative;
    height: 800px;
    background-color:  #d9dde1;
    overflow: hidden;
}

.screen-5__bg{
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 433px;
    background: url('../img/bg-screen-5.png') no-repeat center top;
}

.screen-5__heading{
    padding-top: 130px;
    font-size: 46px;
    line-height: 46px;
    font-weight: normal;
    color: #f01400;
    text-align: center;
}

.screen-5__subheading{
    padding-top: 25px;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: #4d555d;
    text-align: center;
}

/* 购买模块 */
.screen-buy{
    position: relative;
    height: 320px;
    overflow: hidden;
    background: url('../img/bg-screen-buy.png') no-repeat center;
}

.screen-buy__button{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -120px;
    width: 240px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color: #f01414;
    border-radius: 3px;
    transition: all .5s;
}

.screen-buy__button:hover{
    box-shadow: 0px 0px 10px rgba(255,255,255,.8);
}

/* 右侧导航栏 */
.outline{
    position: fixed;
    bottom: 120px;
    right: 0;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    z-index: 3;
}

.outline__item{
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
    color: #93999f;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eee;
}

.outline__item:first-child{
    border: none;
}

.outline__item_status_active{
    color: #f01400;
}

/* 尾部模块开始 */
.footer{
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #07111b;
}